services:
    graphql: Efabrica\GraphQL\GraphQL

    # Drivers
    webonyxDriver: Efabrica\GraphQL\Drivers\WebonyxDriver

    # Schema Loaders
    netteDatabaseSchemaLoader: Efabrica\GraphQL\Nette\Schema\Loaders\NetteDatabaseSchemaLoader

    # Resolvers
    netteDatabaseResolverFactory: Efabrica\GraphQL\Nette\Factories\NetteDatabaseResolverFactory

    # Helpers
    databaseColumnTypeTransformer: Efabrica\GraphQL\Helpers\DatabaseColumnTypeTransformer
